.root {
    -fx-background-color: linear-gradient(
        to bottom right,
        #f6e8d7,
        #e3cbb5,
        #d6b8a2
    );
}

/* Title text */
.title-text {
    -fx-fill: #4a3b2c;
}

/* Buttons */
.main-button {
    -fx-background-color: #87CEEB;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 22;
    -fx-background-radius: 12;
}
