<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.MedEase">

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FirstPageActivity" />
        <activity android:name=".SectorListActivity" />
        <activity android:name=".DoctorListActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".ConfirmationActivity" />
        <activity android:name=".DoctorLoginActivity" />
        <activity android:name=".DoctorPatientListActivity" />
        <activity android:name=".CancelAppointmentActivity" />
        <activity android:name=".DoctorThankYouActivity" />

    </application>


</manifest>